.containerr {
  height: 100vh;
  background-image: url(./bg.jpg);
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
} 

.quiz h1 {
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}

.home  {
  text-decoration: none;
  position: fixed;
  top: 75px;
  left: 39px;
  transition: all, left .20s ease-in;
  text-shadow: 2px 2px 15px rgb(0, 195, 255), 
              -2px -2px 15px rgb(0, 195, 255);
}

.containerr i {
  color: #ffffff;
  font-size: 25px;
}

.containerr i:hover {
  text-shadow: 2px 2px 15px rgb(0, 255, 21), 
              -2px -2px 15px rgb(0, 255, 21);
}

.quiz-wrapper {
  width: 700px;
}