.containerr {
  height: 100vh;
  background-image: url(./bg.jpg);
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
} 

.quiz h1 {
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}

.home  {
  text-decoration: none;
  top: 80px;
  left: 40px;
  position: fixed;
  transition: opacity, left .20s ease-in;

    &:hover {
      opacity: .6;
    }
}

.create-test {
  text-decoration: none;
  position: fixed;
  top: 120px;
  left: 40px;
  transition: opacity, left .20s ease-in;

    &:hover {
      opacity: .6;
    }
}

a i {
  color: #ffffff;
  font-size: 25px;
}

.quiz-wrapper {
  width: 700px;
}