.containerr {
  height: 100vh;
  background-image: url(./bg.jpg);
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
} 

.quiz h1 {
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}

.home  {
  text-decoration: none;
  font-size: 20px;
  position: fixed;
  top: 40px;
  left: 70px;
}

.containerr i {
  color: #ffffff;
  font-size: 25px;
}

.containerr i:hover {
  opacity: 0.7;
}

.quiz-wrapper {
  width: 700px;
}