.answer-item {
  color: rgb(87, 134, 118) ;
  box-shadow:  -1px -1px 2px rgb(87, 134, 118);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background: rgb(33, 59, 50);
    color: rgb(0, 199, 133) ;
    box-shadow: -1px -1px 2px rgb(115, 224, 188), 1px 1px 2px rgb(115, 224, 188);
    transition: all .2s ease-in-out;
    // transition: color .2s ease-in-out;
  }
}