.menu-toggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  transition: opacity, left .20s ease-in;
  z-index: 100;

  &:hover {
    opacity: .6;
  }
}

.menu-toggle.open {
  left: 320px;
}