.menu-toggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  transition: opacity, left .20s ease-in;
  z-index: 100;
  text-shadow: 2px 2px 15px rgb(0, 195, 255), 
              -2px -2px 15px rgb(0, 195, 255);

  &:hover {
    text-shadow: 2px 2px 15px rgb(0, 255, 21), 
              -2px -2px 15px rgb(0, 255, 21);
  }
}

.menu-toggle.open {
  left: 320px;
}