.quiz-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  color: rgb(255, 255, 255);
  background: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containere {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.quiz-creator h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
}

.quiz-creator form {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, .5), 
            -2px -2px 12px rgba(0, 0, 0, .5);
}

.quiz-creator input {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(75, 0, 119);
}

.quiz-creator .input {
  height: 85px;
}

.quiz-creator .input span {
  color: #ff6b6b;
}

.quiz-creator label {
  color: rgb(255, 255, 255);
}

.btn {
  display: flex;
}
