.drawer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 80%;
	max-width: 300px;
	padding: 20px 0px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	transform: translateX(0px);
	transition: transform .22s ease-in;
	z-index: 90;

	&.close {
		transform: translateX(-300px);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 15px;
      
			a {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
				font-size: 30px;
				text-decoration: none;
        color: rgb(255, 255, 255);
				position: relative;
				padding: 0;
				transition: opacity .3s;
        cursor: pointer;
			}
		}
	}
}
.drawer ul li a:hover, .active {
  background: url(../../../containers/QuizList/1.jpg);
}
