@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Varela+Round&display=swap');


body {
  color: white;
  font-family: 'Varela Round', sans-serif;
  // font-family: 'Merienda', cursive;
}

* {
  margin: 0;
  padding: 0;
}

