.input {
  height: 85px;

	label {
		display: block;
		color: #6d008f;
    letter-spacing: 1px;
	}

	input {
		display: block;
    height: 35px;
		box-sizing: border-box;
		padding: 7px;
		border: 2px solid #9d47ff;
		border-radius: 8px;
		width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
		outline: none;
		transition: all 300ms ease-in-out;
	}

	span {
		color: #b80000;
		font-size: 12px;
		letter-spacing: 1px;
		// font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
}

